.custom-cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 6px solid #8fdcff;
    border-radius: 50%;
    pointer-events: none;
    transform: translate3d(var(--cursor-x, 0px), var(--cursor-y, 0px), 0)
        translate(-50%, -50%);
    z-index: 9999;
    box-shadow: none;
    animation: pulse 1.5s infinite ease-in-out;
    background-color: transparent;
}

@media (min-width: 20px) and (max-width: 1023px) {
    .custom-cursor {
        display: none !important;
    }
}

/* Hide on devices without fine pointer (touch devices) */
@media (hover: none), (pointer: coarse) {
    .custom-cursor {
        display: none !important;
    }
}
