@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap");

body {
    background-color: #f6f6f6;
    font-family: "Sora", sans-serif;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #f6f6f6;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
#packages {
    /* scroll-margin-top: -2px; */
}
#stages {
    scroll-margin-top: 53px;
}
#faq {
    scroll-margin-top: 50px;
}
#contact {
    scroll-margin-top: 30px;
}

html {
    scroll-behavior: auto; /* default for normal scroll */
}

html.smooth-scroll {
    scroll-behavior: smooth; /* turn on only when needed */
}
